body{
  Color: rgb(255, 255, 255);
    color: rgb(238, 197, 157); /* Цвет текста */
  font-family: Verdana;
 }

.header{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.menu {
  background-color: rgb(133, 80, 43);
  position: fixed; /* Фиксированное положение */
  right: 0px; /* Расстояние от правого края окна браузера */
  top: 0%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */         
  border: 1px solid rgb(24, 24, 24); /* Параметры рамки */
  width: 100%;
}

 ul.dws-ul{
  display: flex;
  padding: 0;
  justify-content: center;
 }
 li.dws-li{
  list-style: none;
  padding: 10px;
}
 li.dws-li a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(241, 224, 202);
  position: relative;
  padding: 5px;
 }
 li.dws-li a i{
  margin-right: 10px;
 }
 li.dws-li a::before{
  content: '';
  width: 0;
  height: 3px;
  background-color: #e5bb8f;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #edda7c;
  position: absolute;
  top: 90%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li:hover{
  background-color: #e8b574bc;
 }

 li.dws-li:hover a::before{
  width: 50%;
  transform: translateX(100%);
 }

 li.dws-li:hover a::after{
  width: 50%;
  transform: translateX(-100%);
 }

 li.dws-li a:hover{
  color: #e7c7b3;
 }

.front
{
  min-height: 720px;
  background-image: url("../src/img/1.jpg");
  background-size: cover;
}

.title
{
  font-size: large;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e7c7b3;
  text-align: center;
}
 