.header{
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.menu {
  background-color: rgb(133, 80, 43);
  position: fixed; /* Фиксированное положение */
  right: 0px; /* Расстояние от правого края окна браузера */
  top: 0%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */         
  border: 1px solid rgb(154, 117, 71); /* Параметры рамки */
  width: 100%;
  z-index: 2;
}

body{
  display: block;
  Color: rgb(255, 255, 255);
    color: rgb(238, 197, 157); /* Цвет текста */
  
  background-size: cover;
  font-family: Verdana;
 }
 ul.dws-ul{
  display: flex;
  padding: 0;
  justify-content: center;
 }
 li.dws-li{
  list-style: none;
  padding: 5px;
}
 li.dws-li a{
  text-decoration: none;
  font-size: fit-content;
  color: rgb(241, 224, 202);
  position: relative;
  padding: 3px;
 }
 li.dws-li a i{
  margin-right: 10px;
 }
 li.dws-li a::before{
  content: '';
  width: 0;
  height: 3px;
  background-color: #e5bb8f;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #edda7c;
  position: absolute;
  top: 90%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li:hover{
  background-color: #e8b574bc;
 }
 li.dws-li:hover a::before{
  width: 50%;
  transform: translateX(100%);
 }
 li.dws-li:hover a::after{
  width: 50%;
  transform: translateX(-100%);
 }
 li.dws-li a:hover{
  color: #e7c7b3;
 }


.container1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1920px;
  width: 100%;
  max-width: 2160px;
  margin: 0 auto;width: 100%;
  height: 100vh;
  background: url("../src/img/1.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  
}

.text
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text__header
{
  justify-content: center;
  text-align: center;
  font-size: 40pt;
  font-weight: 700;
  color: #e7c7b3;
}

.container
{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  background: #5a3f1e center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.about
{
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 25pt;
  text-align: center;
}

.types
{
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
.coffee__types__item
{
  display: flex;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  margin: 15px auto 0;
  height: fit-content;
  width: 300px;
  border: #e7c7b3;
  border-radius: 8px;
  text-align: center;
  font-size: 25pt;
  color: #9c6a33;
  flex-shrink: 2;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s linear;
}
.coffee__types__item:hover img
{
  opacity: 0.1;
}
.coffee__types__item__about
{
  flex-direction: column;
  color: #9c6a33;
  text-decoration: none;
  opacity: 0;
  font-size: 18pt;
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity .3s linear;
}
.coffee__types__item__about:hover
{
  opacity: 1;
}

.table__types__item
{
  display: flex;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  margin: 15px auto 0;
  height: fit-content;
  width: 300px;
  border: #e7c7b3;
  border-radius: 8px;
  text-align: center;
  font-size: 25pt;
  color: #9c6a33;
  flex-shrink: 2;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s linear;
}

.about__context{
text-align: center;
font-size: 18pt;
font: 500;
font-family:Arial, Helvetica, sans-serif;
}

.footer
{
  background-color: #765936;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer-paragraph
{
  font-weight: 300;
  color: rgb(216, 203, 156);
}

