.header{
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.menu {
  background-color: rgb(133, 80, 43);
  position: fixed; /* Фиксированное положение */
  right: 0px; /* Расстояние от правого края окна браузера */
  top: 0%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */         
  border: 1px solid rgb(154, 117, 71); /* Параметры рамки */
  width: 100%;
  z-index: 3;
}

body{
  display: block;
  Color: rgb(255, 255, 255);
    color: rgb(238, 197, 157); /* Цвет текста */
  
  background-size: cover;
  font-family: Verdana;
 }
 ul.dws-ul{
  display: flex;
  padding: 0;
  justify-content: center;
 }
 li.dws-li{
  list-style: none;
  padding: 5px;
}
 li.dws-li a{
  text-decoration: none;
  font-size: fit-content;
  color: rgb(241, 224, 202);
  position: relative;
  padding: 3px;
 }
 li.dws-li a i{
  margin-right: 10px;
 }
 li.dws-li a::before{
  content: '';
  width: 0;
  height: 3px;
  background-color: #e5bb8f;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #edda7c;
  position: absolute;
  top: 90%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li:hover{
  background-color: #e8b574bc;
 }
 li.dws-li:hover a::before{
  width: 50%;
  transform: translateX(100%);
 }
 li.dws-li:hover a::after{
  width: 50%;
  transform: translateX(-100%);
 }
 li.dws-li a:hover{
  color: #e7c7b3;
 }


.container1
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  /*background: url(../src/img/start/bg.jpg), center no-repeat;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax__body
{
  position: fixed;
  height: 100vh;
  width: 100%;
}
.parallax__images
{
  position: absolute;
  top:-10%;
  left:-10%;
  width: 100%; 
  height: 100%;
  z-index: 1;
  background-attachment: fixed;
}
.images-parallax__bg,
.images-parallax__table,
.images-parallax__lights
{
  position: absolute;
  width: 120%; 
  height: 120%;
  
}


.images-parallax__bg
{
  background: url(./src/img/start/bg1.png) top / cover no-repeat;
}
.images-parallax__table
{
  background: url(./src/img/start/table.png) top / cover no-repeat;
}
.images-parallax__lights
{
  background: url(./src/img/start/lights.png) top / cover no-repeat;
}



.text
{
z-index: 2;
position: relative;
font-family: Verdana, Geneva, Tahoma, sans-serif;
justify-content: center;
text-align: center;
}

.text__header
{
  font-size: 40pt;
  font-weight: 900;
  color: #e9cdba;
  text-shadow: 10px 1px 1px rgb(113, 68, 40);
}

.text a
{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 5px;
color: #de8a36;
font-size: 25pt;
text-shadow: 5px 1px 1px rgb(80, 42, 18);
}
.text a:hover
{
  transition: color .3s linear;
  color: #de4f36;
  text-shadow: 5px 1px 1px rgb(80, 23, 18);
}

.container
{
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  background: #5a3f1e center no-repeat;
  background-size: cover;
  background-position: center;
}
.container::before
{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  transform: translate(0px, -100%);
  background: linear-gradient(180deg, #5a3f1e00, #5a3f1ec5);
}

.about
{
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25pt;
  text-align: center;
}

.types
{
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
.coffee__types__item
{
  display: flex;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  margin: 15px auto 0;
  height: fit-content;
  width: 300px;
  border: #e7c7b3;
  border-radius: 8px;
  text-align: center;
  font-size: 25pt;
  color: #9c6a33;
  flex-shrink: 2;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s linear;
}
.coffee__types__item:hover img
{
  opacity: 0.1;
}
.coffee__types__item__about
{
  flex-direction: column;
  color: #9c6a33;
  text-decoration: none;
  opacity: 0;
  font-size: 18pt;
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity .3s linear;
}
.coffee__types__item__about:hover
{
  opacity: 1;
}

.table__types__item
{
  display: flex;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  margin: 15px auto 0;
  height: fit-content;
  width: 300px;
  border: #e7c7b3;
  border-radius: 8px;
  text-align: center;
  font-size: 25pt;
  color: #9c6122;
  flex-shrink: 2;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s linear;
}
.table__types__item:hover img
{
  transition: opacity .3s linear;
  opacity: 0.3;
}
.about__context
{
text-align: center;
font-size: 18pt;
font: 500;
font-family:Arial, Helvetica, sans-serif;
}
.coffeeshop
{
  display: flex;
  justify-content: center;
  background: rgb(141, 101, 167);
  overflow: hidden;
  margin: 15px auto 0;
  height: fit-content;
  width: 600px;
  border: #e7c7b3;
  border-radius: 10px;
   flex-shrink: 2;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s linear;
}
.coffeeshop:hover img
{
  transition: opacity .3s linear;
  opacity: 0.3;
}
.coffeeshop__about
{
  flex-direction: column;
  color: #e2caaf;
  text-decoration: none;
  opacity: 0;
  font-size: 50pt;
  position: absolute;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  transition: opacity .3s linear;
}
.coffeeshop__about:hover
{
  opacity: 1;
}
.timetable-types
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.types__timetable
{
  margin-left: 1%;
  width: fit-content;
  border-radius: 10px;
  width: 600px;
  height: fit-content;
  overflow: hidden;
}
.timetable__about
{
  font-size: 25pt;
  font-weight: 600;
  width: fit-content;
  justify-content: center;

}
.footer
{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #4e3516;
  height: fit-content;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer-paragraph
{
  text-decoration: none;
  font-weight: 300;
  color: rgb(202, 164, 124);
}
.footer-paragraph:hover
{
  transition: color .2s;
  color: #e2caaf;
}
