.header{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.menu {
  background-color: rgb(255, 255, 255);
  position: fixed; /* Фиксированное положение */
  right: 0px; /* Расстояние от правого края окна браузера */
  top: 0%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */         
  border: 1px solid rgb(24, 24, 24); /* Параметры рамки */
  width: 100%;
}

body{
  background-image: url("../images/escheresque_ste.png");
  font-family: Verdana;
 }
 ul.dws-ul{
  display: flex;
  padding: 0;
  justify-content: center;
 }
 li.dws-li{
  list-style: none;
  padding: 10px;
 }
 li.dws-li a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(62, 42, 13);
  position: relative;
  padding: 5px;
 }
 li.dws-li a i{
  margin-right: 10px;
 }
 li.dws-li a::before{
  content: '';
  width: 0;
  height: 3px;
  background-color: #ce8d47;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #dec756;
  position: absolute;
  top: 90%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
 }
 li.dws-li:hover{
  background-color: #c9c9c9;
 }
 li.dws-li:hover a::before{
  width: 50%;
  transform: translateX(100%);
 }
 li.dws-li:hover a::after{
  width: 50%;
  transform: translateX(-100%);
 }
 li.dws-li a:hover{
  color: #fa9828;
 }


 